#titulo .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 120px;
  gap: 100px;
}

#titulo .wrapper h1 {
  color: #009688;
  font-weight: 700;
  font-size: 47px;
}

#titulo .wrapper p {
  margin-top: 40px;
  font-weight: 300;
  font-size: 20px;
  align-items: center;
  text-justify: right;
  color: #000000;
}

.introducao-image {
  width: 50%;
}

/* RESPONSIVIDADE TITULO */

@media (max-width: 768px) {
  #titulo .wrapper {
    padding: 20px;
  }

  #titulo .wrapper h1 {
    font-size: 30px;
    text-align: center;
  }

  .image {
    display: none;
  }

  br {
    display: none;
  }

  #titulo .wrapper p {
    font-size: 18px;
    text-align: justify;
    margin-top: 10px;
  }
}

#posts {
  background-color: #e5e5e5;
}

#posts .wrapper {
  padding: 60px;
}

.container-posts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posts-card {
  width: 540px;
  align-items: center;
}

.posts-card img {
  width: 100%;
  margin-top: 40px;
}

.posts-card h3 {
  color: #ff4081;
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0;
}

.posts-card p {
  color: #000000;
  font-size: 17px;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 20px;
}

/* RESPONSIVIDADE POSTS */

@media (max-width: 768px) {
  #posts .wrapper {
    padding: 20px;
  }
  .posts-card img {
    margin-top: 10px;
  }

  .posts-card h3 {
    font-size: 25px;
    margin: 10px 0;
  }

  .posts-card p {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
