#contato .wrapper {
  padding: 60px;
}

.container-contato {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

form h1 {
  color: #ff4081;
  font-size: 40px;
  font-weight: 700;
  margin: 0 10px;
}

form {
  width: 40%;
}

input,
textarea {
  background: #ffffff;
  border: 1px solid #686868;
  box-sizing: border-box;
  border-radius: 7px;
  width: 100%;
  padding: 10px;
  margin: 10px;
}

input::placeholder,
textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #58555d;
}

button {
  display: flex;
  background: #ff4081;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  font-style: bold;
  padding: 10px 35px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
}

/* RESPONSIVIDADE CONTATO */

@media (max-width: 768px) {
  #contato .wrapper {
    padding: 20px;
  }

  .container-contato {
    width: 100%;
    padding: 10px;
  }

  .imagem {
    display: none;
  }

  form {
    width: 100%;
  }

  form h1 {
    font-size: 30px;
    margin-left: 0;
  }

  input,
  textarea {
    margin: 10px 0;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 15px;
  }

  button {
    font-size: 15px;
  }
}
