#introducao .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 120px;
}

.introducao-texto h1 {
  color: #ff4081;
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px;
}

.introducao-texto p {
  color: #000000;
  font-weight: 300;
  font-size: 20px;
  width: 60%;
}

.introducao-image {
  width: 50%;
}

/* RESPONSIVIDADE INTRODUÇÃO */

@media (max-width: 768px) {
  #introducao .wrapper {
    padding: 20px;
  }

  .introducao-texto h1 {
    font-size: 35px;
    text-align: center;
  }

  .introducao-image {
    display: none;
  }

  .introducao-texto p {
    font-size: 18px;
    text-align: justify;
    width: 100%;
  }
}

#videos {
  background-color: #f7f7f7;
}

#videos .wrapper {
  padding: 20px 50px;
}

.card-videos {
  display: flex;
  align-items: flex-start;
  gap: 60px;
  padding: 70px;
}

.card-videos h1 {
  margin-bottom: 25px;
  color: #ff4081;
  font-size: 35px;
  font-weight: 700;
}

.card-videos p {
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  width: 75%;
}

.divisao {
  height: 5px;
  background-color: #c4c4c4;
  width: 100%;
}

/* RESPONSIVIDADE VIDEOS */

@media (max-width: 768px) {
  #videos .wrapper {
    padding: 20px;
  }
  .card-videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0;
  }

  .card-videos img {
    width: 100%;
  }

  .card-videos h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .card-videos p {
    font-size: 18px;
    width: 100%;
    text-align: justify;
  }

  .divisao {
    margin: 20px auto;
  }
}
