#principal {
  padding: 40px;
}

#principal .wrapper h1 {
  color: #ff4081;
  font-size: 60px;
  font-weight: 700;
}

.subtitulo {
  color: #555555;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}

.container-cursos {
  display: flex;
  flex-direction: column;
}

.card-cursos {
  display: flex;
  justify-content: flex-start;
  padding: 40px;
}

.descricao-curso {
  padding: 40px;
}

.descricao-curso h2 {
  color: #ff4081;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.descricao-curso p {
  color: #000000;
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 300;
}

.descricao-curso a {
  background: #2e948a;
  border-radius: 62px;
  color: #fff;
  font-size: 20px;
  font-weight: 400px;
  padding: 10px 40px;
}

.divisao {
  height: 5px;
  background-color: #c4c4c4;
  width: 100%;
}

/* RESPONSIVIDADE */

@media (max-width: 768px) {
  #principal {
    padding: 20px;
  }

  #principal .wrapper h1 {
    font-size: 40px;
  }
  .subtitulo {
    font-size: 18px;
  }
  .container-cursos {
    justify-content: center;
    padding: 0;
  }

  .card-cursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .card-cursos img {
    width: 100%;
  }

  .descricao-curso {
    padding: 10px;
    justify-content: center;
    text-align: center;
  }

  .descricao-curso h2 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 10px;
  }

  .descricao-curso p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 30px;
  }

  .descricao-curso a {
    font-size: 17px;
    padding: 10px 20px;
  }

  .divisao {
    margin: 20px auto;
  }
}
