#banner .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  gap: 20px;
}

.banner-texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.banner-texto h1 {
  color: #ff4081;
  font-size: 60px;
  font-weight: 700;
}

.banner-texto p {
  font-size: 27px;
  color: #555555;
  font-weight: 400;
}

.banner-texto a {
  border-radius: 62px;
  padding: 10px 20px;
  border: 2px solid #ff4081;
  color: #ff4081;
  font-size: 27px;
}

.banner-image {
  padding: 40px;
}

/* RESPONSIVIDADE BANNER */

@media (max-width: 768px) {
  #banner .wrapper {
    padding: 20px 0;
  }
  .banner-texto {
    align-items: center;
  }

  .banner-texto h1 {
    font-size: 35px;
    text-align: center;
  }

  .banner-texto p {
    font-size: 20px;
    text-align: center;
  }

  .banner-texto a {
    padding: 10px;
    font-size: 20px;
  }

  .banner-image {
    display: none;
  }
}

#cursos {
  background-color: #f7f7f7;
}

#cursos .wrapper {
  padding: 100px;
}

.container-cursos {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  flex-wrap: wrap;
}

.card-cursos {
  margin-top: 20px;
  max-width: 291px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.card-cursos h3 {
  color: #ff4081;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  width: 344px;
}

.card-cursos p {
  text-align: center;
  font-size: 17px;
  color: #000000;
}

.card-cursos a {
  border-radius: 62px;
  padding: 10px 40px;
  border: 2px solid #ff4081;
  color: #fff;
  background-color: #ff4081;
  font-size: 20px;
  font-weight: 400;
}

/* RESPONSIVIDADE CURSOS */

@media (max-width: 768px) {
  #cursos .wrapper {
    padding: 10px;
  }

  .container-cursos {
    justify-content: center;
  }

  .card-cursos h3 {
    font-size: 20px;
  }

  .card-cursos p {
    font-size: 15px;
  }

  .card-cursos img {
    width: 70%;
  }

  .card-cursos a {
    border-radius: 62px;
    padding: 10px 20px;
    font-size: 17px;
  }
}

#comentarios .wrapper {
  padding: 40px;
}

#comentarios .wrapper h2 {
  color: #009688;
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 40px;
}

.container-depoimentos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-depoimentos {
  display: flex;
  width: 540px;
  align-items: center;
  padding: 20px;
  padding-left: 0;
}

.card-depoimentos p {
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  margin-left: 20px;
}

/* RESPONSIVIDADE COMENTÁRIOS */

@media (max-width: 768px) {
  .container-cursos {
    justify-content: center;
  }

  #comentarios .wrapper h2 {
    font-size: 30px;
    text-align: center;
  }

  .card-depoimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .card-depoimentos p {
    font-size: 15px;
    text-align: justify;
    margin: 20px auto;
    width: 80%;
  }
}

#blog {
  background-color: #e5e5e5;
}

#blog .wrapper {
  padding: 40px;
}

#blog .wrapper h2 {
  color: #009688;
  font-size: 37px;
  font-weight: 700;
}

.container-blog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;
}

.card-blog {
  max-width: 320px;
  margin-top: 20px;
}

.card-blog h3 {
  margin-top: 10px;
  color: #009688;
  font-size: 27px;
  font-weight: 700;
}

.card-blog p {
  text-align: justify;
  font-size: 18px;
}

.button-todos-posts {
  text-align: center;
  margin: 30px;
}

.todos-posts {
  border-radius: 62px;
  padding: 10px 20px;
  border: 2px solid #ff4081;
  color: #ff4081;
  font-size: 25px;
}

/* RESPONSIVIDADE BLOG */

@media (max-width: 768px) {
  #blog .wrapper {
    padding: 30px;
  }

  #blog .wrapper h2 {
    font-size: 30px;
    text-align: center;
  }

  .container-blog {
    justify-content: center;
    padding: 0;
  }

  .card-blog h3 {
    font-size: 23px;
  }

  .card-blog img {
    width: 100%;
  }

  .card-blog p {
    font-size: 15px;
  }

  .todos-posts {
    padding: 10px 10px;
    font-size: 20px;
  }
}
