#postagem .wrapper {
  padding: 100px;
}

#postagem .wrapper .data {
  text-align: center;
  margin-top: 0;
  color: #9d9d9d;
  font-size: 18px;
  font-weight: 300;
}

#postagem .wrapper img {
  width: 100%;
  margin: 50px auto;
}

#postagem h1 {
  text-align: center;
  margin-bottom: 0;
  color: #ff4081;
  font-size: 50px;
  font-weight: 500;
}

#postagem p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  text-align: justify;
}

#postagem h3 {
  color: #2e948a;
  font-size: 26px;
}

/* RESPONSIVIDADE POSTAGEM */

@media (max-width: 768px) {
  #postagem .wrapper {
    padding: 20px;
  }

  #postagem h1 {
    font-size: 30px;
  }

  #postagem .wrapper img {
    margin: 10px auto;
  }

  #postagem p {
    font-size: 16px;
    margin-top: 10px;
  }

  #postagem h3 {
    font-size: 22px;
  }
}

#cursos {
  background-color: #f7f7f7;
}

#cursos .wrapper {
  padding: 100px;
}

.container-cursos {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  flex-wrap: wrap;
  gap: 70px;
}

.card-cursos {
  margin-top: 20px;
  max-width: 291px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.card-cursos h3 {
  color: #ff4081;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  width: 344px;
}

.card-cursos p {
  text-align: center;
  font-size: 17px;
  color: #000000;
}

.card-cursos a {
  border-radius: 62px;
  padding: 10px 40px;
  border: 2px solid #ff4081;
  color: #fff;
  background-color: #ff4081;
  font-size: 20px;
  font-weight: 400;
}

/* RESPONSIVIDADE CURSOS */

@media (max-width: 768px) {
  #cursos .wrapper {
    padding: 10px;
  }

  .container-cursos {
    justify-content: center;
    gap: 20px;
  }

  .card-cursos h3 {
    font-size: 20px;
  }

  .card-cursos p {
    font-size: 15px;
  }

  .card-cursos img {
    width: 70%;
  }

  .card-cursos a {
    border-radius: 62px;
    padding: 10px 20px;
    font-size: 17px;
  }
}
